table,
table th,
table td {
  border: 1px solid #cccccc;
}

td,
th {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
.note {
  text-align: left;
  vertical-align: middle;
  height: 0.6rem;
}
@media (max-width: 576px) {
  td,
  th {
    height: 50px;
    width: 30px;
  }
  td {
    font-size: 10px;
  }
  th {
    font-size: 8px;
  }
}
